body, main, .top-display, .top-display__top-row, .app-grid, .app-grid__app, .home-bar, .notes, .notes__header-row, .notes__header-row h1, .weather, .photos, .photos__date, .app-store, .phone, .phone__input-display, .messages, .calculator, .calculator__display, .settings, .settings__header-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

/* Fonts */
@keyframes moving-arrows--left {
  0% {
    left: 0em;
  }
  50% {
    left: 1em;
  }
  100% {
    left: 0em;
  }
}
@keyframes moving-arrows--right {
  0% {
    right: 0em;
  }
  50% {
    right: 1em;
  }
  100% {
    right: 0em;
  }
}
@keyframes openModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes openModalContent {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes closeModal {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
* {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

body {
  width: 100%;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  background: linear-gradient(white, #d18de4, #6f2fad);
  justify-content: space-between;
  width: 98%;
  position: fixed;
  top: 1%;
  bottom: 4em;
}

.top-display {
  height: 75%;
  justify-content: flex-start;
}
.top-display__top-row {
  flex-direction: row;
  justify-content: space-between;
}
.top-display__top-row p {
  margin: 0em 0.3em;
}

.date-and-time {
  color: black;
}
.date-and-time__date {
  display: none;
}

.bottom-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 25%;
}

.app-grid {
  flex-flow: row wrap;
}
.app-grid--main {
  margin-top: 0px;
  align-self: flex-start;
}
.app-grid--bottom {
  background-color: rgba(255, 255, 255, 0.5);
  align-self: flex-end;
  padding-bottom: 0.5em;
}
.app-grid__app {
  align-self: flex-start;
  width: 25%;
}
.app-grid__icon {
  width: 100%;
  max-width: 350px;
}
.app-grid__label {
  margin-top: -0.5em;
  font-size: 1em;
}

.icons-8-reference {
  font-size: 0.8em;
  margin-bottom: 1em;
}
.icons-8-reference a {
  color: black;
}
.icons-8-reference a:hover {
  color: white;
}

.home-bar {
  align-self: flex-end;
  width: 100%;
  background-color: black;
  position: fixed;
  bottom: 0;
  height: 4em;
  display: grid;
  grid-template-columns: 4em 4em 4em;
}
.home-bar__link {
  border: 2px solid grey;
  z-index: 1;
  display: flex;
  margin: auto;
  grid-column-start: 2;
  grid-row-start: 1;
  /* 		background-image: conic-gradient(black, white);
  background-size: 100% 100%, cover;
  background-position: center center;
  background-repeat: no-repeat; */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /* 		animation-name: border-spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite; */
}
.home-bar__btn {
  z-index: 2;
  grid-column-start: 2;
  grid-row-start: 1;
  margin: auto;
  background-color: black;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.home-bar__arrows--left {
  z-index: 3;
  color: white;
  font-size: 1.5em;
  position: relative;
  grid-column-start: 1;
  animation-name: moving-arrows--left;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.home-bar__arrows--right {
  z-index: 3;
  color: white;
  font-size: 1.5em;
  position: relative;
  grid-column-start: 3;
  animation-name: moving-arrows--right;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.app-modal {
  display: none;
}

.open-modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  transform: scale(1);
  background: white;
  animation: openModal 0.25s linear;
}
.open-modal p {
  z-index: 1;
  animation: openModalContent 0.25s linear;
}

.close-modal {
  display: none;
  animation: closeModal 0.25s linear;
}
.close-modal p {
  display: none;
}

.notes {
  width: 98%;
  margin: auto;
  margin-top: 1%;
  height: calc(100vh - 4em);
  justify-content: flex-start;
  background-color: rgb(237, 237, 237);
}
.notes__header-row {
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 15px;
}
.notes__header-row h1 {
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: baseline;
  margin: 0px 15px;
}
.notes__header-row h1 img {
  width: 1em;
  margin-right: 2px;
}
.notes__note-container {
  width: 100%;
  margin-top: 1.5em;
  overflow: visible;
  overflow-y: auto;
}
.notes__item {
  width: 80%;
  height: 3em;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 5px 10px 12px;
  text-align: left;
}

.create-new-note {
  z-index: 10;
  flex-direction: column;
}
.create-new-note__header-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 15px;
  color: rgb(228, 176, 31);
}
.create-new-note__note-constructor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-new-note__note-constructor--title {
  width: 80%;
  height: 5vh;
  border: none;
  padding: 0px 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  font-weight: 800;
}
.create-new-note__note-constructor--body {
  width: 80%;
  height: 70vh;
  border: none;
  padding: 5px 5px 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
}

.expanded-note-page {
  z-index: 20;
  background-color: white;
  flex-direction: column;
  text-align: left;
}
.expanded-note-page__header-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 15px;
  color: rgb(228, 176, 31);
}
.expanded-note-page h4 {
  padding: 15px 15px 15px;
}
.expanded-note-page p {
  padding: 0px 15px;
}

.weather {
  width: 98%;
  margin: auto;
  margin-top: 1%;
  background-color: rgb(197, 233, 248);
}
.weather__location {
  font-size: 2em;
}
.weather__temp {
  font-size: 4em;
  margin-bottom: 0.5em;
}
.weather__pic {
  font-size: 8em;
  margin-bottom: 0.5em;
}
.weather__description {
  font-size: 2em;
  margin-bottom: 3em;
}

.photos {
  justify-content: flex-start;
  overflow: hidden;
  background-color: white;
  width: 98%;
  margin: auto;
  margin-top: 1%;
}
.photos__date {
  width: 90%;
  align-items: flex-start;
  margin: 0.5em 0em;
  font-size: 1.4em;
  font-weight: 700;
}
.photos__image-grid {
  width: 100%;
  height: calc(100vh - 4em);
  display: inline-block;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: repeat(4, 33vw);
  grid-gap: 0.2em;
}
.photos__img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.photos__image--portrait {
  width: 100%;
  object-position: 0px -40px;
}
.photos__image--landscape {
  height: 100%;
}

.app-store {
  width: 98%;
  margin: auto;
  margin-top: 1%;
}
.app-store__img-container {
  width: 100%;
  overflow: visible;
  overflow-y: auto;
  padding-bottom: 4em;
}
.app-store__img-container img {
  width: 100%;
}

.phone {
  width: 98%;
  margin: auto;
  margin-top: 1%;
  justify-content: flex-start;
  height: calc(100vh - 4em);
}
.phone__input-display {
  height: 20%;
  width: 80%;
  flex-flow: row nowrap;
  overflow: hidden;
  font-size: 2em;
}
.phone__buttons {
  height: 60vh;
  width: 40vh;
  display: grid;
  grid-template-rows: 16.666666% 16.666666% 16.666666% 16.666666% 16.666666%;
  grid-row-gap: 4.1666666%;
  grid-template-columns: 25% 25% 25%;
  grid-column-gap: 12.5%;
}
.phone__buttons button {
  border: none;
  border-radius: 100%;
  font-size: 2em;
}
.phone__buttons--call {
  background-color: rgb(40, 208, 40);
  font-size: 100%;
  grid-column-start: 2;
}

.messages {
  width: 98%;
  margin: auto;
  margin-top: 1%;
  justify-content: flex-start;
}
.messages img {
  width: 100%;
}

.calculator {
  width: 98%;
  margin: auto;
  margin-top: 1%;
  justify-content: flex-end;
  padding-bottom: 4em;
  background-color: rgb(18, 18, 18);
}
.calculator__display {
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  height: 25%;
  width: 90%;
}
@media only screen and (min-width: 431px) {
  .calculator__display {
    width: 386px;
  }
}
.calculator__display p {
  color: white;
  font-size: 4em;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}
.calculator__keypad {
  width: 90%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-column-gap: 6.8%;
  grid-template-rows: 18vw 18vw 18vw 18vw 18vw;
  grid-row-gap: 6.12vw;
}
@media only screen and (min-width: 431px) {
  .calculator__keypad {
    width: 386px;
    grid-template-columns: 80px 80px 80px 80px;
    grid-column-gap: 22px;
    grid-template-rows: 80px 80px 80px 80px 80px;
    grid-row-gap: 22px;
    justify-content: center;
  }
}
.calculator__keypad button {
  border: none;
  font-size: 2em;
}
.calculator__keypad--top {
  background-color: rgb(174, 174, 174);
  color: rgb(62, 62, 62);
  border-radius: 50%;
}
.calculator__keypad--operators {
  background-color: orange;
  color: white;
  border-radius: 50%;
}
.calculator__keypad--nums {
  background-color: rgb(62, 62, 62);
  color: white;
  border-radius: 50%;
}
.calculator__keypad--zero-keypad {
  background-color: rgb(62, 62, 62);
  color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  border-radius: 40px;
}
.calculator__keypad--zero-text {
  font-size: 2em;
  color: white;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
}

.settings {
  width: 98%;
  margin: auto;
  margin-top: 1%;
}
.settings__header-row {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid rgb(191, 191, 191);
}
.settings__header-row p {
  font-size: 1em;
  font-weight: 700;
}
.settings__img-container {
  width: 100%;
  overflow: visible;
  overflow-y: auto;
  padding-bottom: 4em;
}
.settings__img-container img {
  width: 100%;
}
