@use "defaults.scss";
@import "themes.scss";

* {
	margin: 0;
	padding: 0;
	cursor: pointer;
}

body {
	@extend %default-display;
	width: 100%;
	background-color: black;
	font-family: $default;
}

main {
	@extend %default-display;
	background-color: white;
	justify-content: space-between;
	// border: 0.5em solid black;
	width: 98%;
	// height: 100vh;
	position: fixed;
	top: 1%;
	bottom: 4em;
}
.top-row {
	@extend %default-display;
	flex-direction: row;
	justify-content: space-between;
	& p {
		margin: 0em 0.3em;
	}
	&__time {
		color: black;
		top: 0;
	}
}

.home-bar {
	@extend %default-display;
	flex-direction: row;
	align-self: flex-end;
	justify-content: space-evenly;
	background-color: black;
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 4em;
	&__btn {
		width: 50px;
		height: 50px;
		border: 2px solid rgb(62, 62, 62);
		border-radius: 50%;
	}
	&__arrows {
		color: white;
		font-size: 1.5em;
	}
}
