@use "defaults.scss";
@import "themes.scss";

@keyframes moving-arrows--left {
	0% {
		left: 0em;
	}
	50% {
		left: 1em;
	}
	100% {
		left: 0em;
	}
}
@keyframes moving-arrows--right {
	0% {
		right: 0em;
	}
	50% {
		right: 1em;
	}
	100% {
		right: 0em;
	}
}

@keyframes openModal {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes openModalContent {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes closeModal {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

* {
	margin: 0;
	padding: 0;
	cursor: pointer;
}

body {
	@extend %default-display;
	width: 100%;
	background-color: black;
	font-family: $default;
}

main {
	@extend %default-display;
	background: linear-gradient(white, #d18de4, #6f2fad);
	justify-content: space-between;
	width: 98%;
	position: fixed;
	top: 1%;
	bottom: 4em;
}

.top-display {
	@extend %default-display;
	height: 75%;
	justify-content: flex-start;
	&__top-row {
		@extend %default-display;
		flex-direction: row;
		justify-content: space-between;
		& p {
			margin: 0em 0.3em;
		}
	}
}

.date-and-time {
	color: black;
	&__date {
		display: none;
	}
}

.bottom-display {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 25%;
}

.app-grid {
	@extend %default-display;
	flex-flow: row wrap;
	&--main {
		margin-top: 0px;
		align-self: flex-start;
	}
	&--bottom {
		background-color: rgba(255, 255, 255, 0.5);
		align-self: flex-end;
		padding-bottom: 0.5em;
	}
	&__app {
		@extend %default-display;
		align-self: flex-start;
		width: 25%;
	}
	&__icon {
		width: 100%;
		max-width: 350px;
	}
	&__label {
		margin-top: -0.5em;
		font-size: 1em;
	}
}

.icons-8-reference {
	font-size: 0.8em;
	margin-bottom: 1em;
	& a {
		color: black;
		&:hover {
			color: white;
		}
	}
}

.home-bar {
	@extend %default-display;
	align-self: flex-end;
	width: 100%;
	background-color: black;
	position: fixed;
	bottom: 0;
	height: 4em;
	display: grid;
	grid-template-columns: 4em 4em 4em;
	&__link {
		border: 2px solid grey;
		z-index: 1;
		display: flex;
		margin: auto;
		grid-column-start: 2;
		grid-row-start: 1;
		/* 		background-image: conic-gradient(black, white);
		background-size: 100% 100%, cover;
		background-position: center center;
		background-repeat: no-repeat; */
		border-radius: 50%;
		width: 50px;
		height: 50px;
		/* 		animation-name: border-spin;
		animation-duration: 1.5s;
		animation-iteration-count: infinite; */
	}
	&__btn {
		z-index: 2;
		grid-column-start: 2;
		grid-row-start: 1;
		margin: auto;
		background-color: black;
		width: 45px;
		height: 45px;
		border-radius: 50%;
	}
	&__arrows--left {
		z-index: 3;
		color: white;
		font-size: 1.5em;
		position: relative;
		grid-column-start: 1;
		animation-name: moving-arrows--left;
		animation-duration: 2s;
		animation-iteration-count: infinite;
	}
	&__arrows--right {
		z-index: 3;
		color: white;
		font-size: 1.5em;
		position: relative;
		grid-column-start: 3;
		animation-name: moving-arrows--right;
		animation-duration: 2s;
		animation-iteration-count: infinite;
	}
}

.app-modal {
	display: none;
}

.open-modal {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
	transform: scale(1);
	background: white;
	animation: openModal 0.25s linear;
	& p {
		z-index: 1;
		animation: openModalContent 0.25s linear;
	}
}

.close-modal {
	display: none;
	animation: closeModal 0.25s linear;
	& p {
		display: none;
	}
}

.notes {
	@extend %default-display;
	width: 98%;
	margin: auto;
	margin-top: 1%;
	height: calc(100vh - 4em);
	justify-content: flex-start;
	background-color: rgb(237, 237, 237);
	&__header-row {
		@extend %default-display;
		width: 100%;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: 15px;
		& h1 {
			@extend %default-display;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-content: baseline;
			margin: 0px 15px;
			& img {
				width: 1em;
				margin-right: 2px;
			}
		}
	}
	&__note-container {
		width: 100%;
		margin-top: 1.5em;
		overflow: visible;
		overflow-y: auto;
	}
	&__item {
		width: 80%;
		height: 3em;
		margin: auto;
		background-color: white;
		border-radius: 10px;
		margin-bottom: 10px;
		overflow: hidden;
		padding: 5px 10px 12px;
		text-align: left;
	}
}

.create-new-note {
	z-index: 10;
	flex-direction: column;
	&__header-row {
		display: flex;
		flex-direction: row;
		align-items: baseline;
		justify-content: space-between;
		padding: 15px;
		color: rgb(228, 176, 31);
	}
	&__note-constructor {
		display: flex;
		flex-direction: column;
		align-items: center;
		&--title {
			width: 80%;
			height: 5vh;
			border: none;
			padding: 0px 5px;
			font-family: $default;
			font-size: 1.2em;
			font-weight: 800;
		}
		&--body {
			width: 80%;
			height: 70vh;
			border: none;
			padding: 5px 5px 0px;
			font-family: $default;
			font-size: 1em;
		}
	}
}

.expanded-note-page {
	z-index: 20;
	background-color: white;
	flex-direction: column;
	text-align: left;
	&__header-row {
		display: flex;
		flex-direction: row;
		align-items: baseline;
		justify-content: space-between;
		padding: 15px;
		color: rgb(228, 176, 31);
	}
	& h4 {
		padding: 15px 15px 15px;
	}
	& p {
		padding: 0px 15px;
	}
}

.weather {
	@extend %default-display;
	width: 98%;
	margin: auto;
	margin-top: 1%;
	background-color: rgb(197, 233, 248);
	&__location {
		font-size: 2em;
	}
	&__temp {
		font-size: 4em;
		margin-bottom: 0.5em;
	}
	&__pic {
		font-size: 8em;
		margin-bottom: 0.5em;
	}
	&__description {
		font-size: 2em;
		margin-bottom: 3em;
	}
}

.photos {
	@extend %default-display;
	justify-content: flex-start;
	overflow: hidden;
	background-color: white;
	width: 98%;
	margin: auto;
	margin-top: 1%;
	&__date {
		@extend %default-display;
		width: 90%;
		align-items: flex-start;
		margin: 0.5em 0em;
		font-size: 1.4em;
		font-weight: 700;
	}
	&__image-grid {
		width: 100%;
		height: calc(100vh - 4em);
		display: inline-block;
		display: grid;
		grid-template-columns: 33% 33% 33%;
		grid-template-rows: repeat(4, 33vw);
		grid-gap: 0.2em;
	}
	&__img-container {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	&__image {
		&--portrait {
			width: 100%;
			object-position: 0px -40px;
		}
		&--landscape {
			height: 100%;
		}
	}
}

.app-store {
	@extend %default-display;
	width: 98%;
	margin: auto;
	margin-top: 1%;
	&__img-container {
		width: 100%;
		overflow: visible;
		overflow-y: auto;
		padding-bottom: 4em;
		& img {
			width: 100%;
		}
	}
}

.phone {
	@extend %default-display;
	width: 98%;
	margin: auto;
	margin-top: 1%;
	justify-content: flex-start;
	height: calc(100vh - 4em);
	&__input-display {
		@extend %default-display;
		height: 20%;
		width: 80%;
		flex-flow: row nowrap;
		overflow: hidden;
		font-size: 2em;
	}
	&__buttons {
		height: calc(0.6 * 100vh);
		width: calc(0.666666666666 * (0.6 * 100vh));
		display: grid;
		grid-template-rows: 16.666666% 16.666666% 16.666666% 16.666666% 16.666666%;
		grid-row-gap: 4.1666666%;
		grid-template-columns: 25% 25% 25%;
		grid-column-gap: 12.5%;
		& button {
			border: none;
			border-radius: 100%;
			font-size: 2em;
		}
		&--call {
			background-color: rgb(40, 208, 40);
			font-size: 100%;
			grid-column-start: 2;
		}
	}
}

.messages {
	@extend %default-display;
	width: 98%;
	margin: auto;
	margin-top: 1%;
	justify-content: flex-start;
	& img {
		width: 100%;
	}
}

.calculator {
	@extend %default-display;
	width: 98%;
	margin: auto;
	margin-top: 1%;
	justify-content: flex-end;
	padding-bottom: 4em;
	background-color: rgb(18, 18, 18);
	&__display {
		@extend %default-display;
		flex-flow: row nowrap;
		justify-content: flex-end;
		align-items: flex-end;
		height: 25%;
		width: 90%;
		@media only screen and (min-width: 431px) {
			width: 386px;
		}
		& p {
			color: white;
			font-size: 4em;
			padding: 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			direction: ltr;
		}
	}
	&__keypad {
		// height: 60%;
		width: 90%;
		display: grid;
		grid-template-columns: 20% 20% 20% 20%;
		grid-column-gap: 6.8%;
		grid-template-rows: 18vw 18vw 18vw 18vw 18vw;
		grid-row-gap: 6.12vw;
		@media only screen and (min-width: 431px) {
			width: 386px;
			grid-template-columns: 80px 80px 80px 80px;
			grid-column-gap: 22px;
			grid-template-rows: 80px 80px 80px 80px 80px;
			grid-row-gap: 22px;
			justify-content: center;
		}
		& button {
			border: none;
			font-size: 2em;
		}
		&--top {
			background-color: rgb(174, 174, 174);
			color: rgb(62, 62, 62);
			border-radius: 50%;
		}
		&--operators {
			background-color: orange;
			color: white;
			border-radius: 50%;
		}
		&--nums {
			background-color: rgb(62, 62, 62);
			color: white;
			border-radius: 50%;
		}
		&--zero-keypad {
			background-color: rgb(62, 62, 62);
			color: white;
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 5;
			border-radius: 40px;
		}
		&--zero-text {
			font-size: 2em;
			color: white;
			align-self: center;
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 5;
		}
	}
}

.settings {
	@extend %default-display;
	width: 98%;
	margin: auto;
	margin-top: 1%;
	&__header-row {
		@extend %default-display;
		width: 100%;
		padding: 15px;
		border-bottom: 1px solid rgb(191, 191, 191);
		& p {
			font-size: 1em;
			font-weight: 700;
		}
	}
	&__img-container {
		width: 100%;
		overflow: visible;
		overflow-y: auto;
		padding-bottom: 4em;
		& img {
			width: 100%;
		}
	}
}
